<div class="container d-flex justify-content-center">
  <div class="lock-box">
    <main class="form-signin">
      <form class="p-5">
        <img class="img-fluid mb-3" src="https://apps.harta.co.id:4431/ApiWebPortal_stg/ImageView/Logo" alt=""
          width="272">
        <div class="form-floating mb-1">
          <input type="text" class="form-control" id="floatingInput" required name="username"
            [(ngModel)]="LoginModel.username" placeholder="Username">
          <label for="floatingInput">Username</label>
          <div class="invalid-feedback">Please provide a valid city.</div>
        </div>
        <div class="form-floating mb-2">
          <input type="password" class="form-control" id="floatingPassword" name="password" required
            [(ngModel)]="LoginModel.password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>

        <div class="container w-100 btn btn-lg">
          <div class="g_id_signin" data-type="standard" data-size="large" data-theme="filled_blue"
            data-text="sign_in_with" data-shape="circle" data-width=180 data-logo_alignment="left">sdfg</div>
        </div>
        <div id="g_id_onload" data-client_id="43969789382-m6pebbr8n9fe0b6se67bjk68kmtnhcl9.apps.googleusercontent.com"
          data-login_uri="https://localhost:7055/ImageView/CallBackOAuth"></div>

        <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="default"
          data-auto-logout-link="false" data-use-continue-as="false"></div>
      </form>
    </main>
  </div>
</div>